<!-- <p>settings works!</p> -->


<div class="settings-panel">
    <h3>Settings</h3>
    <div>
      <button (click)="sortData('name')">Sort by Name</button>
      <button (click)="reverseSortData('name')">Sort by Name (Reverse)</button>
    </div>
    <div>
      <button (click)="sortData('value')">Sort by Value</button>
      <button (click)="reverseSortData('value')">Sort by Value (Reverse)</button>
    </div>
    <ul>
      <li *ngFor="let item of settingsData" (click)="selectItem(item.id)">
        {{ item.name }} - {{ item.value }}
      </li>
    </ul>
  </div>
  <div class="status-bar" [ngStyle]="{'background-color': creditColor}">
    {{ credit }}
  </div>
  