# requirements.txt - Required Libs, 
#  as per setup instruction:  
#  NOTE see AIE/Courses/2503_ESA/...demos for new / later setup
# python -m virtualenv -p=/usr/local/bin/python3.12 .venv
# source .venv/bin/activate
# python3 -m pip install -r requirements.txt
# Blank lines and Comments (prefix by #) are allowed here for formatting

# On Viv Python 3.12 on MacOX 10.5.9 pip installing  notebook, openai, anthropic  cause it to error:
#  Building wheel for maturin (pyproject.toml): finished with status 'error'
#    from: error: can't find Rust compiler  (rust not supported on OS 10.9.5, rustup command fails
#    SO give up and use Ubuntu!

notebook  # Comments are also allowed after like this
openai
python-dotenv

# For testing not needed for live running:
pytest

# Other platforms, for live running only need the chosen one from (below + openAI)
llamaapi
mistralai
anthropic  # For Anthropic LLMs (and via AWS)

seaborn
# Added for images:
Pillow

# For migration to WebChat.py"
flask
flask-cors
