# requirements.txt - Required Libs for Python apps 
#  as per setup instruction:  
# python -m venv venv
# Or: python -m virtualenv -p=/usr/local/bin/python3.12 venv
# source venv/bin/activate
# python -m pip install -r requirements.txt
# Blank lines and Comments (prefix by #) are allowed here for formatting

notebook  # Comments are also allowed after like this
openai
python-dotenv

# For testing not needed for live running:
pytest
anthropic  # For Anthropic LLMs  
